/* <div>
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    <div>

    1 ----Typography
      
    
    10px is the default
    
    1rem is equal to 10px
    
    
    Font Weight:
    Default: 400
    
    Line Heights:
    Default: 1
    
    2 ----Colors

      Primary - #e67e22;
      #cf711f
      Colors: 
        #6f6f6f
        #fdf2e9
        #333
        #555
        #777
        #ddd
        #fae5d3;
        #51cf66;
        #94d82d;
        #ffd43b;
        #45260a;
      Tints:
      Shades:
      Accents:
      Greys:


    3 ----Shadows

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.06);
background-image: linear-gradient( 90deg,#eb984e, #e67e22);
    4 ----Border-Radius
      small: 9px
      medium: 11px
      larger: 100px

    5 ----Whitespace


      </div>
  </div>
      */

/* ****************************************** */
